* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

img {
  height: 100%;
  max-width: 100%;
}

a {
  color: inherit;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.15s ease-in;

  &:hover,
  &:visited {
    transition: 0.15s ease-in!important;
    color: inherit;
    filter: brightness(0.9);
    transform: translateY(-0.25rem);
  }

  &:focus,
  &:active {
    outline: inherit;
  }
}

button {
  cursor: pointer;
  transition: 0.15s ease-in!important;

  &:hover {
    filter: brightness(0.9);
    transform: translateY(-0.25rem);
  }

  &:focus {
    outline: inherit;
  }

  &:disabled {
    opacity: 0.75;
    cursor: not-allowed;
  }
}